body{
background: linear-gradient(123deg, #461B93 0%, #461B93 40%, #6A3CBC calc(40% + 1px), #6A3CBC 60%, #8253D7 calc(60% + 1px), #8253D7 70%, #F78F1E calc(70% + 1px), #F78F1E 100%);
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
}
h1{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  color: antiquewhite;
}

p{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: none;
  text-align: left;
  color: antiquewhite;
}

#numeros{
  text-align: center;
  float: center;
}

button{
  font-size: 20px 10px;
  color:black;
  background: white;
  border-radius: 30px;
  float: center;
  padding: 5px;
  margin: 5px;
  
}

button:hover{
  color: beige;
  background: black;
}

#formulario{
  width: 500px;
  margin: 10vh auto 0 auto;
  padding: 50px;
  background-image: linear-gradient(to top, #a71994 0%, #ffb199 100%);
  border-radius: 20px;
  font-size: 20px;
}

#formulario h2{
  text-align: left;
  padding: 5px;   
}

#verificadores{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 20px;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  margin: 5px;

}
 #num {
  border: 2px solid #da301a;
  border-radius: 4px;
  display: block;
  font-size: 30px;
  padding: 10px;
  width: 30%;
  margin: 5px;
  float: left;
  text-align: center;
}
 input:focus{
  outline: 0;
}

#error{
  color: #da301a;
  font-size: 15px;
}

#numeros{
  font-size: 40px;
  font-family:serif;
  color: aliceblue;
  

}

#container{
  
}
