body{
  background-color: blanchedalmond;
}

h1{
  text-align: center;
}
p{
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

button{
  font-size: 20px 10px;
  color:black;
  background: white;
  border-radius: 30px;
  float: center;
  padding: 5px;
  margin: 5px;
  
}

button:hover{
  color: beige;
  background: black;
}

#form{
  width: 500px;
  margin: 10vh auto 0 auto;
  padding: 20px;
  background-color: #9e9bc0;
  border-radius: 20px;
  font-size: 20px;
}

#form h2{
  text-align: center;   
}

#verificadores{
  display: flex;
  flex-direction: column;
}
#verificadores label{
  font-size: 25px;
  text-align: center;

}
#verificadores input{
  border: 2px solid #da301a;
  border-radius: 4px;
  display: block;
  font-size: 30px;
  padding: 10px;
  width: 85%;
  margin: 5px;
  float: center;
  text-align: center;
}

#verificadores input:focus{
  outline: 0;
}


